@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    
<title>Wing the Air</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="~/content/style.css" type="text/css" media="all" />
<link rel="stylesheet" href="~/content/style1.css"/>
    <link href="~/Content/style2.css" rel="stylesheet" />

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"/>

 
<!--[if lte IE 6]><style type="text/css" media="screen">.tabbed { height:420px; }</style><![endif]-->
<script src="~/Scripts/jquery-1.4.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.jcarousel.pack.js" type="text/javascript"></script>
<script src="~/Scripts/jquery.slide.js" type="text/javascript"></script>
<script src="~/Scripts/jquery-func.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.js" type="text/javascript"></script>
    
    <script src="~/Scripts/JS1.js" type="text/javascript"></script>

</head>
<body>
<!-- Top -->
<div id="top">
  <div class="shell">
    <!-- Header -->
    <div id="header">
      <h1 id="logo"><a href="#">Shop Online</a></h1>
      <div id="navigation">
        <ul>
          <li><a href="/admin/index">Home</a></li>
          <li><a href="/admin/Signin">Signin</a></li>
             <li><a href="/admin/addCatogary">Add Catogary</a></li>
            <li><a href="/admin/addProduct">Add Product</a></li>
            <li><a href="/admin/Logout">Logout</a></li>
          <li class="last"><a href="/Home/AboutMe">About Me</a></li>
        </ul>
      </div>
    </div>
    <!-- End Header -->
    <!-- Slider -->
    <div id="slider">
      <div id="slider-holder">
        <ul>
          <li><a href="#"><img src="~/images/slide2.jpg" alt="" /></a></li>
          <li><a href="#"><img src="~/images/slide1.jpg" alt="" /></a></li>
          <li><a href="#"><img src="~/images/slide3.jpg" alt="" /></a></li>
          <li><a href="#"><img src="~/images/slide1.jpg" alt="" /></a></li>
          <li><a href="#"><img src="~/images/purses1.jpg" alt="" /></a></li>
        </ul>
      </div>
      <div id="slider-nav"> <a href="#" class="prev">Previous</a> <a href="#" class="next">Next</a> </div>
    </div>
    <!-- End Slider -->
  </div>
</div>
<!-- Top -->
<!-- Main -->
<div id="main">
  <div class="shell">
    <!-- Search, etc -->
    <div class="options">
      <div class="search">
          <form action="/Admin/Search" method="post">
          <span class="field">
          <input type="text" class="blink" value="SEARCH" title="SEARCH" name="s1"/>
          </span>
          <input type="submit" class="search-submit" value="GO" />
        </form>
      </div>
      <span class="left"><a href="#">Advanced Search</a></span>
     <div class="right"> <span class="cart">  </span> <span class="left more-links">  </span> </div>
    </div>
    <!-- End Search, etc -->
    <!-- Content -->
    <div id="content">
      <!-- Tabs -->
      
      <!-- Tabs -->
      <!-- Container -->
      <div id="container">
       
            @RenderBody()

           
        <!-- Brands -->
        <div class="brands">
          <h3>Brands</h3>
          <div class="logos"> <a href="#"><img src="~/images/logo1.gif" alt="" /></a> <a href="#"><img src="~/images/logo2.gif" alt="" /></a> <a href="#"><img src="~/images/logo3.gif" alt="" /></a> <a href="#"><img src="~/images/logo4.gif" alt="" /></a> <a href="#"><img src="~/images/logo5.gif" alt="" /></a> </div>
        </div>
        <!-- End Brands -->
        <!-- Footer -->
        <div id="footer">
          <div class="left"> <a href="/admin/Index">Home</a> <span>|</span> <a href="/admin/Index">The Store</a> <span>|</span> <a href="/Home/AboutMe">About Me</a> </div>
          <div class="right"> &copy; Sitename.com. Design by <a href="http://chocotemplates.com">Rosheen Pervaiz</a> </div>
        </div>
        <!-- End Footer -->
      </div>
      <!-- End Container -->
    </div>
    <!-- End Content -->
  </div>
</div>
<!-- End Main -->
</body>
</html>


