@{
    Layout = "~/Views/shared/Layout.cshtml";
}
<link href="~/Content/style3.css" rel="stylesheet" />


<div id="resume">
        <div class="fill-blue">
            CAREER
        </div>

        <div class="left-column">
            <div class="substrate">
                <h2>My Profile</h2>
                <img class="profilepic" src="~/Images/1.jpg" alt="abhaymakadia" />
                <ul class="main-info-list">
                    <li>Name<span>Rosheen Pervaiz</span><div class="floatlimit">
                    </div>
                    </li>
                    <li>Institute<span>PUCIT</span><div class="floatlimit">
                    </div>
                    </li>
                    <li>Email<span>BSEF11A003@pucit.edu.pk</span><div class="floatlimit">
                    </div>
                    </li>
                </ul>
                <div class="paper-clip">
                </div>
            </div>
            <div class="substrate">
                <h2>Career</h2>
                <div class="left-blue">
                    <div class="time-period-left-blue">
                    </div>
                    <h3>
                        <span class="time-period-right-blue">2013 - Now</span></h3>
                    <h4>BSE</h4>
                    <p>
                       I am doing bse from punjab university
                    </p>
                    <div class="time-period-left-blue">
                    </div>
                    <h3>
                        <span class="time-period-right-blue">2010 - 2013</span></h3>
                    <h4>Intermediate</h4>
                    <p>
                        i have done my intermediate from lahore college
                    </p>
                   
                    
                </div>
            </div>
        </div>
        <div class="right-column">

            <div class="substrate gradient-blue font-blue">
                <h2>About Me</h2>
                <h3>Hay, I'm Rosheen  . . .</h3>
                <div class="p">
                    I designed this website as a Project of Enterprise application development to Instructor (Sir shuja -ul-Rehman)




                </div>
            </div>

            <div class="substrate">
                <h2>Skill I</h2>
                <h3>Web Development</h3>
                <ul class="skills">
                    <li class="skill"><span>Asp.net C#</span>
                        <div class="b">
                            <span class="eighty" style="width: 90%"></span>
                        </div>
                    </li>
                    <li class="skill"><span>HTML</span>
                        <div class="b">
                            <span class="eighty" style="width: 70%"></span>
                        </div>
                    </li>
                    <li class="skill"><span>CSS</span>
                        <div class="b">
                            <span class="eighty" style="width: 60%"></span>
                        </div>
                    </li>
                    <li class="skill"><span>JavaScript</span>
                        <div class="b">
                            <span class="eighty" style="width: 50%"></span>
                        </div>
                    </li>
                    <li class="skill"><span>Jquery</span>
                        <div class="b">
                            <span class="eighty" style="width: 30%"></span>
                        </div>
                    </li>
                </ul>
                <div class="paper-clip">
                </div>
            </div>



        </div>

        <div class="floatlimit">
        </div>

    </div>

