@{
    Layout = "~/Views/shared/Layout.cshtml";
}
<link href="~/Content/jquery.fancybox-1.3.6.css" rel="stylesheet" type="text/css" media="screen" />
<script src="~/Scripts/jquery.mousewheel-3.0.4.pack.js"></script>
<script src="~/Scripts/jquery.fancybox-1.3.6.js"></script>
<script src="~/Scripts/jquery.fancybox-1.3.6.min.js"></script>

 

<h2>FancyBox</h2>
<a id="fancybox" href="~/images/slide1.jpg"><img src="~/images/slide1.jpg" alt=""/></a>
<a id="single_image" href="http://localhost:5263/images/slide1.jpg"><img src="http://localhost:5263/images/slide1.jpg" alt=""/></a>
<a id="inline" href="#data">This shows content of element who has id="data"</a>

<div style="display:none"><div id="data">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div></div>
<a href="http://www.example?iframe">This goes to iframe</a>


<a class="iframe" href="http://www.example">This goes to iframe</a>
 @Scripts.Render("~/bundles/jquery")
<script type="text/javascript">
  
    $(document).ready(function () {

        alert("in fancy box");
        $("a#fancybox").fancybox();
        /* This is basic - uses default settings */

        $("a#single_image").fancybox();

        /* Using custom settings */

        $("a#inline").fancybox({
            'hideOnContentClick': true
        });

        /* Apply fancybox to multiple items */

        $("a.group").fancybox({
            'transitionIn': 'elastic',
            'transitionOut': 'elastic',
            'speedIn': 600,
            'speedOut': 200,
            'overlayShow': false
        });

    });
    </script>
